.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1rem 0;
}
.inputContainer input {
  padding: 10px;
  background: transparent;
  border: 1px solid white;
  font-size: 1.2rem;
}
.inputContainer label {
  font-size: 1.5rem;
}
.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.buttonWrapper button {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
}
.circular_hover {
  display: block;
  width: fit-content !important;
   position: fixed;
  bottom: 100px;
  right: 25px;
  cursor: pointer;
}
.circular_hover button {
  background-color: #03c988;
  border-radius: 100%;
  border: none;
  padding: 10px 13px;
 box-shadow: 0px 0px 8px 3px #5c5454;
 
}
.circular_hover button svg {
  font-weight: bold;
  font-size: 3rem;
}
.primary{
    background-color: #03c988;
}
.primary button{
    color: black !important;
    border: none;
}