.quoteWrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1rem;
    border-bottom: 1px solid rgb(66, 63, 63);
}
.quoteWrapper .top{
    display: flex;
    align-items: center;
    gap: 10px;
}
.quoteWrapper .top span:nth-child(2){
    flex: 1;
    font-size: 1.5rem;
    font-weight: bold;
}
.quoteWrapper .middle{
    font-size: 1.2rem;
    letter-spacing: .5px;
    line-height: 25px;
}
.quoteWrapper .middle span:nth-child(2){
    padding: 5px;
}
.quoteWrapper .middle p{
    text-align: right;
    margin: 10px 0;
}
.quoteWrapper .bottom{
    display: flex;
    align-items: center;
    gap: 10px;
}