.profileWrapper{
    padding: 10px;
}
.profileWrapper .top{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(233, 225, 225);
}
.profileWrapper .top p{
   text-align: left;
   margin: 5px 0;
}
.profileWrapper .bottom h3{
    margin: 10px 0;
}
.userProfile{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    gap: 10px;
}
.userProfile div{
    flex: 2;
}
.userProfile a{
    align-self: flex-end;
    text-decoration: none;
    flex: 1;
}
.userProfile div .name{
    font-weight: bold;
}
.userProfile div .bio{
    font-size: .9rem;
    margin: 5px 0;
}
.userProfile div .date{
    display: flex;
}