.registerWrapper{
    margin: 1rem 10px;
    overflow: scroll;
}
.registerWrapper h1{
    text-align: center;
    font-size: 2.2rem;
    margin: 1rem;
}
.registerWrapper p{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.registerWrapper h3{
    text-align: center;
    font-size: 1.5rem;
}
.registerWrapper form{
    padding: 2rem;
    backdrop-filter: blur(14px);
    background-color: rgba(12,30,45,0.7);
}
.registerWrapper p {
  padding: 10px;
}
.registerWrapper .error{
 color: red;
 font-size: 1rem;
 padding: 0px;
 margin: 0;
}
@media screen and (min-width: 700px){
    .registerWrapper{
        max-width: 800px;
        margin: 0 auto;
    }
}