.loginWrapper{
    margin: 5rem 10px;
}
.loginWrapper h1{
    text-align: center;
    font-size: 2.2rem;
    margin: 1rem;
}
.loginWrapper p{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.loginWrapper h3{
    text-align: center;
    font-size: 1.5rem;
}
.loginWrapper form{
    padding: 2rem;
    backdrop-filter: blur(14px);
    background-color: rgba(12,30,45,0.7);
}
.loginWrapper p {
  padding: 10px;
}
